{
    "webHooks": {
        "port": 30000,
        "path": "wh",
        "passphrase": "wh4000",
        "key": "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n",
        "cert": "-----BEGIN CERTIFICATE-----\r\n...\r\n-----END CERTIFICATE-----\r\n"
    },
    "subscriptions": {
        "s1": {
            "url": "https://vpn.rpmsoftware.com",
            "key": "..."
        },
        "s2": {
            "url": "https://vpn.rpmsoftware.com",
            "key": "..."
        }
    },
    "dataFlow": [
        {
            "src": {
                "subscription": "s1",
                "process": "Orders 1"
            },
            "dst": {
                "subscription": "s2",
                "process": "Orders 2"
            },
            "extraFieldMappings": {},
            "twoWay": true
        }
    ]
}